#header {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

#link {
  color: aquamarine;
  font-size: 16px;
  font-family: verdana;
  text-align: center;
}

#phonevideo {
  display: block;
  margin: 0 auto;
}
