#header {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

#link {
  color: aquamarine;
  font-size: 16px;
  font-family: verdana;
  text-align: center;
}

#phonevideo {
  display: block;
  margin: 0 auto;
}

#appsub {
  font-family: verdana;
  font-size: 42px;
  font-weight: 300;
  color: white;
  text-align: center;
}


#apptext {
  font-family: verdana;
  color: gray;
  text-align: center;
  font-size: 21px;
}
